<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer">
  <h1>New Product</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
</header>
<hr>

<%= render 'form' %>

<%= link_to 'Back', products_path, class: "btn btn-default" %>